OCI_MODEL_ID=ocid1.generativeaimodel.oc1.us-chicago-1.example
OCI_COMPARTMENT_ID=ocid1.compartment.oc1..example
OCI_CONFIG_FILE=/Users/pawarp/.oci/config
OCI_CONFIG_PROFILE=DEFAULT
# Optional overrides:
# OCI_INFERENCE_REGION=us-chicago-1
# OCI_INFERENCE_ENDPOINT=https://inference.generativeai.us-chicago-1.oci.oraclecloud.com
